.contain-title {
    font-size: 50px;
    font-family: 'Cookie', cursive;
}

.contain-title p {
    color: grey;
    font-family: 'Roboto Slab', serif;
}

.contain-title a {
    color: cyan;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
}

.primerparrafo span {
    font-style: italic;
}

.segundoparrafo span {
    font-weight: bold;
}

.tercerparrafo p {
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

cuartoparrafo strong {
    font-weight: bold;
}

.cuartoparrafo span {
    font-style: italic ;
}

