.contain-card {
    background-color: rgb(226, 226, 226);
    border-radius: 15px;
    width: 300px;
    height: 400px;
    margin: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px rgb(161, 157, 150)
}

.image {
    width: 150px;
    height: 150px;   
}

.img-1 {
    max-width: 150px;
    min-height: 150px;
    border-radius: 100%;
    margin: -1px;
    margin-top: -15%;
    
}

.flag {
    width: 200px;
    height: 200px;   
}

.img-2 {
    max-width: 50px;
    min-height: auto;
    border-radius: 10px;
    position: relative;
    bottom: 25px;
    left: 130px;
}

.datos {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    margin-top: -140px;
    margin-left: 30px;
}

span {
    font-weight: bold;
}

.description {
    color: rgb(122, 122, 122);
}