#temp {
    font-weight: bold;
    background-color: blue;
    width: 22%;
}

#te {
    background-color:  skyblue;
    width: 22%;
}

#tem {
    background-color:  cyan;
    width: 22%;
}

#tempe {
    background-color:  rgb(145, 245, 245);
    width: 22%;
}

#temper {
    background-color: rgb(176, 238, 238); 
    width: 22%;
}

#tempera {
    background-color: lightcyan;
    width: 22%;
}

#temperat {
    background-color:  lightpink;
    width: 22%;
}

#temperatu {
    background-color:  lightyellow;
    width: 22%;
}

#temperatur {
    background-color:  yellow;
    width: 22%; 
}

#temperatura {
    background-color:  orange;
    width: 22%;
    
}

#extrem {
    font-weight: bold;
    background-color:  red;
    width: 22%;   
}