#naranja {
    color: orange;
}

#manzana {
    color: red;
}

#banana {
    color: yellow;
}

#kiwi {
    color: green;
}

#uva {
    color: black;
}

#ciruela {
    color: red;
}  

#frutilla {
    color:  red;
}

#mandarina {
    color: orange;
}

#pera {
    color: yellow;
}
    
#cereza {
    color:  red;
}