.evergreentree {
    font-size: 90px;
}

.tree {
    font-size: 390px;
}

.house {
    font-size: 100px;
}

.officebuilding {
    font-size: 240px;
}

.bank {
    font-size: 210px;
}

.panda {
    font-size: 30px;
}

.church {
    font-size: 300px;
}

.penguin {
    font-size: 459px;
}

.keyboard {
    font-size: 120px;
}

.hammer {
    font-size: 550px;
}
